<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JumpPo Version 2</title>
</head>
<body>
  <H1>Olá</H1>
    <div class="col-6 col-12">
        {% if todos_usuarios == []: %}
            <p>Não há usuários cadastrados</p>
        {% endif %}
        <div class="container">
            <h3>Usuários</h3>
            {% for usuario in todos_usuarios %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        {{usuario.nome}} {{usuario.sobrenome}}
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
</body>
</html>